*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
}

header{
    width: 95vw;
    height: 30vh;
    margin: auto;
    margin-bottom: 30%;
    grid-column: 1/1;
    margin-top: -10px;
}

.container-header{
    display: flex;
    justify-content:space-between;
}

.logomarca{
    width: 35vw;
    height: 40vh;
    margin-top: -60px;
    margin-left: -50px;

}

.lista{
    display: flex;
    height: 20vh;
    list-style: none;
    align-items: center;
    padding-right: 15px;
}

.lista> li{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-right: 15px;
    color: #51260E;
    padding-top: 60px;
}


.lista> li> a{
    text-decoration: none;
    color: #51260E;
}

.lista> li> a:hover{
    color:#b69f91;
}

.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 20vh;
    padding-top: 60px;
}

.busca> input{
    width: 15vw;
}

.busca> label> img{
    width: 2vw;
    margin:0 20px;
    cursor: pointer;
    
}

.banner{
    width: 90vw;
    height: 50vh;
    margin: auto;
    margin-top: -50px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, .4);
}

.banner> h1> span{
    color:#6e2e0b;
}
.banner> h1> .qualidade{
    color:#0daa27;
    font-size: 2.2rem;
}


.carrinho{
    text-align: center;
}
.carrinho-de-compras{
    width: 300px;
}

.carrinho> h2> span{
    color:#6e2e0b;
    font-size: 2rem;
}


h3{
    color: #51260E;
    border-top: 2px solid #51260E;
    width: 97vw;
    
}

.div-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 2rem;
}


.card-produtos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    height: 15rem;
    box-shadow: 1px 2px 4px 3px darkgray;
    text-align: center;
    border-radius: 2px;

}

.card-produtos:hover .imagem-card{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px 5px;
    filter: grayscale(0)
}

.imagem-card{
    width: 10rem;
    height: 15rem;
    object-fit: cover;
    filter: grayscale(1);
    border-radius: 2px;
}
